:root {
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --primary-background-color: #fff;
  --additional-background-color: #2e2f42;
  --headings-text-color: #2e2f42;
  --body-text-color: #434455;
  --light-text-font-color: #fff;
  --accent-color: #4d5ae5;
  --focus-hover-active-color: #4d5ae5;
  --cta-button-color: #4d5ae5;
  --filter-button-text-color: #4d5ae5;
  --active-input-field: #4d5ae5;
  --social-button-color: #4d5ae5;
  --overlay-background-color: #4d5ae5;
  --social-button-hover-color: #31d0aa;
  --cta-active-button-color: #404bbf;
  --filter-button-background-color: #f4f4fd;
  --team-section-background-color: #f4f4fd;
  --default-font-size: 16px;
  --default-font-weight: 400;
  --default-line-height: 1.5;
  --default-letter-spacing: 0.02em;
  --items: 3;
  --indent: 24px;
  --portfolio-card-border-color: #e7e9fc;
  --customer-icon-border-color: #8e8f99;
  --customer-icon-color: #8e8f99;
  --modal-text-color: #8e8f99;
  --customer-link-active-color: #404bbf;
  --modal-background: #fcfcfc;
  --defaut-trasition-time: 250ms;
  --default-transition-metod: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-background-color);
  color: var(--body-text-color);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  line-height: var(--default-line-height);
  letter-spacing: var(--default-letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--headings-text-color);
}

a:visited {
  color: var(--headings-text-color);
}

address {
  font-style: normal;
}

img {
  display: block;
}

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  --items: 1;
}

@media only screen and (min-width: 768px) {
  .card-set {
    --items: 2;
    --indent: 24px;
    row-gap: 72px;
  }
}

@media only screen and (min-width: 1158px) {
  .card-set {
    --items: 3;
    row-gap: 48px;
  }
}

.portfolio-card-image {
  width: 100%;
  height: auto;
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: box-shadow;
}

.card-set-item-wrapper {
  position: relative;
  overflow: hidden;
}

.card-set-item:hover,
.card-set-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-set-item:hover .overlay,
.card-set-item:focus .overlay {
  transform: translateY(0);
}

.features,
.what-are-we-doing,
.team,
.customers {
  padding-top: 96px;
}

@media only screen and (min-width: 1158px) {
  .features,
  .what-are-we-doing,
  .team,
  .customers {
    padding-top: 120px;
  }
}

.what-are-we-doing {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .what-are-we-doing {
    display: flex;
    padding-bottom: 120px;
  }
}

.customers {
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .customers {
    padding-bottom: 120px;
  }
}

.team {
  background-color: var(--team-section-background-color);
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.navigation-studio-logo {
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 22px;
  margin-right: 141px;
}

@media only screen and (min-width: 768px) {
  .navigation-studio-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .navigation-studio-logo {
    margin-right: 76px;
  }
}

.footer .navigation-studio-logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.header {
  border-bottom: 1px solid var(--portfolio-card-border-color);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 0;
  }
}

@media only screen and (min-width: 1158px) {
}

.header-navigation-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-navigation-menu {
    display: flex;
    gap: 40px;
  }
}

.header-address-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.mobile-menu-icon {
  stroke: var(--headings-text-color);
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: stroke;
}

.mobile-menu-icon:active {
  stroke: var(--active-input-field);
}

.menu-toggle {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.navigation-studio-logo.light {
  color: var(--light-text-font-color);
}

.header-navigation-item {
  display: block;
  font-weight: 500;
  padding: 24px 0;
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: color;
}

.header-navigation-item:hover,
.header-navigation-item:focus {
  color: var(--focus-hover-active-color);
}

.header-address-item {
  color: #434455;
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: color;
}

.header-address-item:hover,
.header-address-item:focus,
.header-address-item:active {
  color: var(--focus-hover-active-color);
}

.hero-header {
  width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-transform: capitalize;
  text-align: center;
  color: var(--light-text-font-color);
}

@media only screen and (min-width: 768px) {
  .hero-header {
    width: 496px;
    font-size: 56px;
    line-height: 107%;
  }
}

.hero-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--light-text-font-color);
  background-color: var(--cta-button-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:active {
  background-color: var(--cta-active-button-color);
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  text-align: center;
  color: var(--headings-text-color);
  margin-bottom: 72px;
}

.item-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-transform: capitalize;
  text-align: center;
  color: var(--headings-text-color);
}

.item-header.card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--headings-text-color);
}

.item-header .feature-description .item-header {
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .item-header {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--headings-text-color);
  }
}

@media only screen and (min-width: 320px) {
  .item-header.portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .paragraph-text {
    font-weight: 500;
  }
}

.item-header-icon {
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--team-section-background-color);
  margin-bottom: 8px;
}
@media only screen and (max-width: 1157px) {
  .features {
    padding-bottom: 96px;
  }
}
.features-wrapper {
  --items: 1;
  --indent: 24px;
  row-gap: 72px;
}
@media only screen and (min-width: 768px) {
  .features-wrapper {
    --items: 2;
  }
}
@media only screen and (min-width: 1158px) {
  .features-wrapper {
    --items: 4;
  }
}
.feature-description {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.item-header-icon {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .item-header-icon {
    display: flex;
  }
}

.card {
  text-align: center;
}
.team-wrapper {
  --items: 1;
  max-width: 264px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .team-wrapper {
    --items: 2;
    max-width: 552px;
  }
}
@media only screen and (min-width: 1158px) {
  .team-wrapper {
    --items: 4;
    max-width: initial;
  }
}
.team-member-image {
  max-width: 100%;
  height: auto;
}

.team-member-card {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  background-color: var(--primary-background-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-card-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}
.socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social-link-logo {
  display: flex;
}
.social-logo-svg {
  fill: var(--primary-background-color);
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--social-button-color);
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: background-color;
}
.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: var(--customer-link-active-color);
}

.social-link.footer-link:hover,
.social-link.footer-link:focus,
.social-link.footer-link:active {
  background-color: var(--social-button-hover-color);
}

.footer-text {
  color: var(--filter-button-background-color);
}

.footer-text-social {
  font-weight: 500;
  color: var(--light-text-font-color);
}
@media only screen and (max-width: 767px) {
  .footer-text-social {
    text-align: center;
  }
}
.portfolio-content {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 72px;
}

.portfolio-filter-button {
  background-color: var(--filter-button-background-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--filter-button-text-color);
  cursor: pointer;
  border: 1px solid var(--portfolio-card-border-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: color background-color box-shadow;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus,
.portfolio-filter-button:active {
  background-color: var(--cta-active-button-color);
  color: var(--light-text-font-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.card-set-item-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--portfolio-card-border-color);
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--additional-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_section/people-office_hero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 188px 0;
}

.customer-cards {
  --items: 2;
  --indent: 16px;
  row-gap: 72px;
}

@media only screen and (min-width: 768px) {
  .customer-cards {
    --items: 3;
    --indent: 24px;
    max-width: 552px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1158px) {
  .customer-cards {
    --items: 6;
    max-width: initial;
  }
}

.customer-cards-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.customer-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  border: 1px solid var(--customer-icon-border-color);
  border-radius: 4px;
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: border-color;
}

.customer-card-link:hover,
.customer-card-link:focus,
.customer-card-link:active {
  border-color: var(--customer-link-active-color);
}
.customer-card-link:hover .customer-cards-item-logo,
.customer-card-link:focus .customer-cards-item-logo,
.customer-card-link:active .customer-cards-item-logo {
  fill: var(--customer-link-active-color);
}

.customer-cards-item-logo {
  display: flex;

  fill: var(--customer-icon-color);
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: fill;
}

.footer {
  background-color: var(--additional-background-color);
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.left-footer-block {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 1158px) {
  .left-footer-block {
    margin-right: 120px;
  }
}

.social-links-block {
  width: 208px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 1158px) {
  .social-links-block {
    margin-right: auto;
  }
}

.footer-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-blocks {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-blocks {
    max-width: 584px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-blocks {
    flex-wrap: nowrap;
    gap: 0;
  }
}
.footer-subscription-block {
  max-width: 453px;
  width: 100%;
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .footer-form {
    align-items: center;
  }
}

.footer-form-label {
  font-weight: 500;
  color: var(--light-text-font-color);
  margin-bottom: 16px;
}

.input-submittion {
  display: flex;
  align-items: center;
  gap: 16px 24px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .input-submittion {
    flex-direction: column;
  }
}
.footer-form-input {
  display: block;
  width: 264px;
  height: 40px;
  border: 1px solid var(--light-text-font-color);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-form-input-field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border: 1px solid var(--light-text-font-color);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: var(--light-text-font-color);
}
.footer-form-input-field::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--light-text-font-color);
}
.subscribe-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: var(--cta-button-color);
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--light-text-font-color);
}

.subscribe-btn-icon {
  fill: var(--light-text-font-color);
}

.subscribe-btn:active {
  background-color: var(--cta-active-button-color);
}

.header-navigation-item {
  position: relative;
}

.header-navigation-item::after {
  display: block;
  position: absolute;
  top: 78px;
  content: '';
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: transparent;
}

@media only screen and (min-width: 1158px) {
  .header-navigation-item::after {
    top: 68px;
  }
}

.header-navigation-item.current::after {
  background: var(--focus-hover-active-color);
}

.header-navigation-item.current {
  color: var(--focus-hover-active-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-background-color);
  transform: translateY(100%);
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: transform;
}

.overlay-text {
  color: var(--filter-button-background-color);
  padding: 40px 32px 168px 32px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 408px;
  width: 95%;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--portfolio-card-border-color);
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: border-color background-color;
}
.modal-btn-icon {
  display: flex;
  fill: var(--additional-background-color);
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: fill;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  border-color: var(--cta-active-button-color);
  background-color: var(--cta-active-button-color);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon,
.modal-btn:active .modal-btn-icon {
  fill: var(--primary-background-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-header {
  color: var(--headings-text-color);
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form-input-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--modal-text-color);
  margin-bottom: 4px;
}

.modal-form-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 11px 38px;
  outline: transparent;
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: border-color;
}

.modal-form-input:focus {
  border-color: var(--active-input-field);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  fill: var(--additional-background-color);
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: fill;
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--active-input-field);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: border-color;
}

.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-comment:focus {
  border-color: var(--active-input-field);
}

.modal-form-agreement {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-agreement-text {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--modal-text-color);
  user-select: none;
}

.privacy-policy-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--active-input-field);
}

.privacy-policy-link:visited {
  color: var(--active-input-field);
}

input[type='checkbox'] {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: background-size;
}

input[type='checkbox']:checked {
  background-color: var(--cta-active-button-color);
  border-color: transparent;
  background-size: 10px;
}

input[type='checkbox']:focus {
  outline: transparent;
  border-color: var(--active-input-field);
}

.modal-form-submit-button {
  display: block;
  align-self: center;
  width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--light-text-font-color);
  background-color: var(--cta-button-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-form-submit-button:active {
  background-color: var(--cta-active-button-color);
}

.hide {
  display: none;
}

.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--primary-background-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 284px;
}

.mobile-modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: border-color background-color;
}

.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-text-color);
}

.mobile-menu-item.current {
  color: var(--customer-link-active-color);
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-menu-address-item-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
}

.mobile-menu-address-item-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.mobile-menu-social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--social-button-color);
  transition: var(--defaut-trasition-time) var(--default-transition-metod);
  transition-property: background-color;
}
