:root {
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  --primary-background-color: #fff;
  --additional-background-color: #2e2f42;
  --headings-text-color: #2e2f42;
  --body-text-color: #434455;
  --light-text-font-color: #fff;
  --accent-color: #4d5ae5;
  --focus-hover-active-color: #4d5ae5;
  --cta-button-color: #4d5ae5;
  --filter-button-text-color: #4d5ae5;
  --cta-active-button-color: #404bbf;
  --filter-button-background-color: #f4f4fd;
  --team-section-background-color: #f4f4fd;
  --default-font-size: 16px;
  --default-font-weight: 400;
  --default-line-height: 1.5;
  --default-letter-spacing: 0.02em;
  --items: 3;
  --indent: 22px;
  --portfolio-card-border-color: #e7e9fc;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-background-color);
  color: var(--body-text-color);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  line-height: var(--default-line-height);
  letter-spacing: var(--default-letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--headings-text-color);
}

a:visited {
  color: var(--headings-text-color);
}

address {
  font-style: normal;
}

img {
  display: block;
}

.accent {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.features,
.what-are-we-doing,
.team,
.footer.portfolio {
  margin-top: 120px;
}

.team {
  background-color: var(--team-section-background-color);
  padding: 120px 0;
}

.navigation-studio-logo {
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header {
  border-bottom: 1px solid var(--portfolio-card-border-color);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation-menu {
  display: flex;
  gap: 40px;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.navigation-studio-logo.light {
  color: var(--light-text-font-color);
}

.header-navigation-item {
  display: block;
  font-weight: 500;
  padding: 24px 0;
}

.header-navigation-item:hover,
.header-navigation-item:focus,
.header-navigation-item:active {
  color: var(--focus-hover-active-color);
}

.header-address-item {
  color: #434455;
}

.header-address-item:hover,
.header-address-item:focus,
.header-address-item:active {
  color: var(--focus-hover-active-color);
}

.hero-header {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  text-align: center;
  color: var(--light-text-font-color);
}

.hero-button {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--light-text-font-color);
  background-color: var(--cta-button-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:active {
  background-color: var(--cta-active-button-color);
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  text-align: center;
  color: var(--headings-text-color);
  margin-bottom: 72px;
}

.item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--headings-text-color);
}

.feature-description {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  text-align: center;
}

.team-member-card {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-card-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-text {
  color: var(--light-text-font-color);
}

.portfolio-filter-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 96px;
  margin-bottom: 72px;
}

.portfolio-filter-button {
  background-color: var(--filter-button-background-color);
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--filter-button-text-color);
  cursor: pointer;
  border: 1px solid var(--portfolio-card-border-color);
  border-radius: 4px;
  padding: 12px 24px;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus,
.portfolio-filter-button:active {
  background-color: var(--cta-active-button-color);
  color: var(--light-text-font-color);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.card-set.portfolio {
  row-gap: 48px;
}

.card-set-item.portfolio {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--portfolio-card-border-color);
}

.card-set-item-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  min-height: 600px;
  background-color: var(--additional-background-color);
}

.footer {
  min-height: 312px;
  background-color: var(--additional-background-color);
}

.left-footer-block {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 100px;
}
